.card{
    border: 1px solid rgb(178, 175, 175);
    border-radius: 8px;
    box-shadow: 5px 5px 5px #74b4f8;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .image {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .cardTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3d9bff;
}

.card .cardText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(186, 186, 186);
}

/* This is considered external CSS, this can lead to naming conflicts */
.Button {
    background-color: hsl(15, 58%, 60%);
    color: white;
    padding: 20px 40px;
    border: 4px double rgb(78, 78, 78);
    cursor: pointer;
    border-radius: 10px;
}
