body {
    background-color: black;
    color: white;
}

h1 {
    color: rgb(0, 182, 254);
    text-align: center;
}

h2 {
    color: rgb(96, 194, 233);
}

.listHead {
    font-size: 1.2em;
    color: rgb(236, 197, 112);
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

.column > div {
    width: 50%;
}

#careful {
    color: rgb(252, 145, 145);
}

.highlight {
    color: rgb(255, 255, 154);
}

.output {
    font-size: 1.1em;
    text-shadow: 2px 2px 10px rgb(50, 252, 50), -2px -2px 5px rgb(255, 199, 108);
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left: 3px;
}

#issue {
    margin-top: 25px;
    font-size: 1.075em;
    color: rgb(252, 145, 145);
}