body {
    background-color: black;
    color: white;
}

h1 {
    color: rgb(0, 182, 254);
    text-align: center;
}

h2 {
    color: rgb(96, 194, 233);
}

.listHead {
    font-size: 1.2em;
    color: rgb(236, 197, 112);
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

.column > div {
    width: 50%;
}

#careful {
    color: rgb(252, 145, 145);
}

.highlight {
    color: rgb(255, 255, 154);
}