body{
    background-color: black;
    color: white;
}

h1{
    color: rgb(0, 182, 254);
    text-align: center;
}

h2 {
    color: rgb(96, 194, 233);
}

#display{
    background-image: url(../../CSS/images/pokemonBG.jpg);
    width: 420px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 500px;
}

#sprite{
    position: absolute;
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-left: 72px;
    margin-top: -50px;
}

#name{
    font-size: 1.6em;
    color: white;
    margin-left: 500px;
    display: block;
}