body {
    background-color: black;
    color: white;
}

h1 {
    color: rgb(0, 182, 254);
    text-align: center;
}

h2 {
    color: rgb(96, 194, 233);
}

.output {
    font-size: 1.3em;
    text-shadow: 2px 2px 8px skyblue, -2px -2px 8px skyblue;
}

.subSec {
    color: rgb(151, 228, 202);
    font-size: larger;
    margin-left: 5px;
}